# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies & Build Outputs
node_modules/
dist/
dist-ssr/
.next
out
.nuxt
.output
.cache
.parcel-cache

# Environment Variables (CRITICAL: Never push these!)
.env
.env.*
!.env.example

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Other Ignored Files
*.local
.tsbuildinfo
.eslintcache
.stylelintcache
.node_repl_history
*.tgz
